hr {color:chartreuse;}
p {margin-left:20px;}
body {background-image:url("timg3.jpg"); }
a {background-color: aquamarine;font-size: 30px; }
p {font-size: 30px;text-align: center;}
h1 {background-color: cornflowerblue;text-align: center;}
h2 {background-color: cornflowerblue;text-align: center;}
h3 {background-color: cornflowerblue;text-align: center;}
h4 {background-color: cornflowerblue;text-align: center;}
h5 {background-color: cornflowerblue;text-align: center;}
h6 {background-color: cornflowerblue;text-align: center;}
p1 {color: crimson;}
img {float: inline-end;}