body {background-image: url(timg4.jpg);}
p1 {color: rgb(236, 76, 2);}
h1 {background-color: cornflowerblue;text-align: center;}
h2 {background-color: cornflowerblue;text-align: center;}
h3 {background-color: cornflowerblue;text-align: center;}
h4 {background-color: cornflowerblue;text-align: center;}
h5 {background-color: cornflowerblue;text-align: center;}
h6 {background-color: cornflowerblue;text-align: center;}
p3 {color: blue; font-size: larger;}